@import "https://fonts.googleapis.com/css?family=Dancing+Script|Ledger";

body {
  background-color: white;
  font-family: Ledger, serif;
  text-align: center;
}


.site-title {
  background-color: #252627;

  color: #fff;
  padding: 15px 0;
}

.site-title h1 {
  font-family: "Dancing Script", cursive;
  color: #904e55;
  margin: 0;
  font-size: 60px;
}

.site-title p {
  font-size: 18px;
}

.site-main-photo {
  margin-top: 20px;
  height: 420px;
  background-image: url("http://images.indianexpress.com/2016/02/einstein759.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.row{
    margin: 20px 0px 0px;
    
}

.col1 {
  padding: 10px;
  background-color: rgba(238, 236, 236, 0.89);
  float: left;
  width: 25%;
}
.col2 {
  background-color: rgba(238, 236, 236, 0.89);
  padding: 10px;
  margin-left: 20px;
  float: left;
  width: 70%;
  text-align: start;
}
h2 {
  color: #904e55;
}
h2::after {
  content: "";
  display: block;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}
.sidebar h3 {
  font-size: 18px;
  color: #252627;
}

.sidebar p {
  color: #564e58;
}

blockquote {
  padding: 60px;
  background-color: #904e55;
  color: #fff;
}
blockquote .writer {
  font-size: 14px;
  text-align: right;
}

p {
  font-size: 17px;
}

.dropcaps::first-letter {
  font-size: 50px;
  float: left;
  margin: -10px 15px 0 0;
}

.imggroup {
    margin: 0px 33% 0px;
    text-align: center;
}
img {
  border: 1px solid #ddd;
  max-width: 100%;
  max-height: 60vh;
  border-radius: 2px;
  padding: 5px;
  background-color: #fff;
}
.imgcaption {
  font-size: 12px;
  padding: 2px 5px;
}

footer {

  margin: 40px 0 20px 0;
  text-align: center;
  
}
footer p {
  font-size: 14px;
  margin: 2px 0;
}

a {
  text-decoration: underline;
  color: #904e55;
}
a:hover {
  color: #000;
}
